h1{
font-size: 48;
text-align: center;
font-family: 'Roboto';
font-size: 48px;

}
 body{
background-color: rgb(255, 254, 241);


 }
 img{
display: block;
margin: auto;


 }

 p{

font-family: 'Overpass Mono';
font-size: 18;

 }
 strong{

font-family: 'Overpass Mono';
font-size: 22;

 }